.searchBar {
  width: 80vw;
  height: fit-content;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}
.searchBar input {
  width: 50vw;
  padding: 10px;
  border-radius: 5px;
}
.searchBar-button {
  height: 3rem;
  width: fit-content;
  background-color: #77ce83;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem;
}
